.Card {
    border: 2px solid #9fa9a3;
    border-radius: 10px;
    width: 30%;
    height: 600px;
    margin: 10px;
    background: #ffffff;
}

.Card:hover {
    box-shadow: 0 0 15px gray;
    background-color: #f2f2f2;
}

img {
    width: 40px;
    margin: 15px;
}

.icon {
    margin: 30px 35% 0 35%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid gray;
    background: #b2c2bf;
    text-align: center;
}

.card-content {
    width: 100%;
    height: 70%;
    text-align: center;
    padding: 30px;
}

.card-content h3 {
    font-size: 28px;
    font-weight: 400;
}

.card-content p {
    margin: 20px 0 0 0;
}

.Link {
    font-size: 20px;
    text-align: center;
}

@media (max-width: 955px) {
    .Card {
        height: 750px;
    }
}

@media (max-width: 745px) {
    .Card {
        width: 60%;
        height: 600px;
    }

}

@media (max-width: 480px) {
    .Card {
        height: 750px;
    }

    .card-content h3 {
        font-size: 22px;
        font-weight: 400;
    }
    
    .card-content p {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 369px) {
    .Card {
        height: 700px;
    }

    .card-content h3 {
        font-size: 18px;
        font-weight: 400;
    }
    
    .card-content p {
        margin: 20px 0 0 0;
        font-size: 15px;
    }

}