.form {
    padding-top: 100px;
    width: 100%;
    height: 1000px;
    background: linear-gradient(to right, #6600cc 0%, #cc0099 100%);
}

.contact-form{
    max-width: 1100px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    /* box-shadow: 2px 2px 20px 2px white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
    padding: 60px;
    /* margin-left: 23%;
    margin-top: 40px; */
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

.contact-form h1{
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

.contact-form label{
    font-size: 17px;
    margin-bottom: 10px;
    align-self: self-start;
    font-weight: bold;
}

.contact-form input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px;
    background: #e6e6e6;
}

.contact-form input:focus {
    background: white;
    box-shadow: 2px 2px 10px white;
}
/* .send {
    margin: 20px;
} */

.send #submit{
    margin-top: 20px;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 10px;;
    background: transparent;
    color: white;
    padding-bottom: 30px;
}

@media (max-width:780px) {
    .contact-form {
        width: 80%;
        padding: 30px;
    }

    .contact-form h1{
        font-size: 20px;
    }

    .contact-form label {
        font-size: 12px;
    }
}