.page-main {
    padding-top: 60px;
    width: 100%;
}
  
.first-container {
    background-image: url(../images/web-design-and-web-development-background-768x397.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    color: #ffffff;
    padding-bottom: 40px;
}
  
.heading {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    width: 100%;
}

.heading h1{
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
}
  
.about-home{
    max-width: 1100px;
    margin: 0 auto;
}
  
.about-home p{
    margin: 0;
    padding: 0 40px;
    color: #ffffff;
    width: 80%;
}

.request-button {
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
}


.second-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    margin-top: 40px;
}


/* third container */

.third-container {
    max-width: 1100px;
    margin: 0 auto;
}

/* .services .container-heading {
    text-align: center;
} */

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 40px;
}

.flex-container > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.item1, .item3, .item5 {
    background-color: #f1f1f1;
}

.flex-container img {
    height: 300px;
    width: 30%;
}

.item-content {
    width: 70%;
    text-align: left;
    padding: 30px;
}

.item-content p {
    margin: 20px 0;
}


/* third container */

.forth-container{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    background-image: url(../images/contact.jpg);
    background-size: cover;
}

.container-heading {
    padding: 40px 40px 0px 40px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.third-container .container-heading {
    background: linear-gradient(to right, #6600cc 0%, #cc0099 100%);
    padding-bottom: 40px;
}

.content {
    padding: 40px 80px;
    width: 100%;
    text-align: center;
}

.contact-button{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/* last container */

/* .contactus-gif {
    max-width: 1100px;
    margin: auto;
    margin-top: 6px;
    width: 100%;
    text-align: center;
}

.contactus-gif img {
    width: 100%;
    height: 100%;
    margin: 0;
} */


@media (max-width: 600px) {
    .flex-container > div {
        flex-direction: column;
    }

    .flex-container img {
        width: 100%;
    }

    .item-content {
        width: 100%;
    }

    .container-heading {
        font-size: 25px;
    }

    .card-container {
        flex-direction: column;
    }
}