.navbar {
    height: 60px;
    width: 100%;
    background: linear-gradient(to right, #6600cc 0%, #cc0099 100%);
    position:fixed;
  }
  
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logoname {
    justify-self: start;
    align-self: start;
    padding: 15px;
}

.logoname a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li {
    margin-right: 40px;
}

.nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.nav-elements ul a.active {
    color: #b3b3b3;
    font-weight: 500;
    position: relative;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
}

.menu-icon {
    display: none;
}

  

@media (max-width: 600px) {

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: rgba(0,0,0,0.9);
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 270px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 70px;
    }

    .nav-elements ul a {
        color: #808080;
        font-size: 30px;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }

}